

.header {

    display: flex;
    width: 2000px;
    height: 40px;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
  
  
     
  .header  > div {
    display: flex;
    flex-direction: row; 
    justify-content: right;  
    background-color: DodgerBlue;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
  }

 